.rightimage{
  float:right;

}

.columns1{
  border: 2px solid blue;
  background-color: black;
  color: white;
  width: 18%;
  float: left;
}

.left{
    float: left;

  }

  .title{
    font-size: 10px;
  }

.stats{
  font-size: 10px;
}

.columns2{
  border: 2px solid blue;
  background-color: yellow;
  color: black;
  width: 18%;
  float: left;
}

.columns3{
  border: 2px solid blue;
  background-color: red;
  color: white;
  width: 18%;
  float: left;
}
